<!doctype html>
<html>
    <head>
        <title> 客戶訂單追蹤系統 </title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <style>
        th { text-align: center; }
        div.center_padding {
            text-align: center;
            padding: 128px 15px;
        }
        </style>
    </head>
    <body>

        

        <div class="container">
            <div class="center_padding">
                <h2>客戶訂單追蹤系統</h2>
				
				<p></p>
                
                <p><a href="/listdata/">未出貨明細</a></p>
               
                <p><a href="/admin/">資料登錄</a></p>
                
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>